Plain Vanilla Options:Stock Options,Stock Indexes Options,Currency Options,Futures Options
Early Exercise Options:American Options,Russian Options
Exotics Options:Asian Options,Barrier Options,Binary Options,Lookback Options,Multi-time Options,Power Log Options,Executive Options,Forward Start Options,Moneyness Options,Fade-in Options,Variable Purchase Options,Mirror Options
Multi-asset Options:Two Asset Options,FX Linked Options,Two Asset Barrier Options
Two Asset Options:Out Performance Options,Product Options,Exchange Options,Maximum or Minimum Options,Spread Options,Cash-or-nothing Options,Best of Two Digital Options